In [41]:
# Expressões Regulares
# https://www.youtube.com/watch?v=mdv-gGAzuHA&list=PLbIBj8vQhvm1VnTa2Np5vDzCxVtyaYLMr&index=5
import re

In [ ]:
# Metacaracteres

# | >>> OU
# . >>> Qualquer Caracter que não seja quebra de linha   \. Caracter .
# [] >>> Conjunto de Caracteres

# ^ >>> Começa com
# $ >>> Termina com

# [^a-z] >>> Negação, tudo que não for letra minuscula

# Quantificadores
# * >>> 0 ou n                  guloso
# + >>> 1 ou n                  guloso
# ? >>> 0 ou 1                  não guloso
# {n} ou {min, max}

# Grupos
# ( ) >>> Salvos na memoria e são acessados pelos retrovisores \1 \2 de acordo com a abertura dos (
    # ?: Indica para não gravar o grupo na memoria

In [175]:
texto = '0Z/20211.111,1102/2021222,22AB/20213,33Z0/20214,4401/20221000,7812/2021999,56DEF/20231.000,00'

# print(re.findall(r'../....', texto))
print(re.findall(r'../202[1-9]', texto))
print(re.findall(r'[0-9DF]{2}/202.', texto))

# print(re.split(r'../....', texto))

['0Z/2021', '02/2021', 'AB/2021', 'Z0/2021', '01/2022', '12/2021', 'EF/2023']
['02/2021', '01/2022', '12/2021']

In [176]:
rec = """Total de Receitas Brutas (R$) Mercado Interno Mercado Externo Total
Receita Bruta do PA (RPA) - Competência 74.228,00 0,00 74.228,00
Receita bruta acumulada nos doze meses anteriores ao PA
(RBT12) 410.725,00 0,00 410.725,00
Receita bruta acumulada nos doze meses anteriores ao PA
proporcionalizada (RBT12p)
Receita bruta acumulada no ano-calendário corrente (RBA) 484.953,00 0,00 484.953,00
Receita bruta acumulada no ano-calendário anterior
(RBAA) 47.960,00 0,00 47.960,00
Limite de receita bruta proporcionalizado 4.800.000,00 4.800.000,00"""

tx = """2.2.1) Mercado Interno
01/2021 47.960,00 02/2021 0,00 03/2021 0,00 04/2021 0,00
05/2021 0,00 06/2021 0,00 07/2021 0,00 08/2021 0,00
09/2021 0,00 10/2021 0,00 11/2021 0,00 12/2021 0,00
01/2022 21.400,00 02/2022 51.400,00 03/2022 80.700,00 04/2022 111.100,00
05/2022 146.125,00""".replace('\n', ' ').replace('.','').replace(',','.').replace(' ','')

mi = re.findall(r'([0-9]{2}/[0-9]{4})([0-9]+\.[0-9]{2})', tx)

tx = """2.2.2) Mercado Externo
01/2021 300,47 02/2021 100,00 03/2021 0,00 04/2021 0,00
05/2021 0,00 06/2021 0,00 07/2021 0,00 08/2021 0,00
09/2021 100.000,98 10/2021 0,00 11/2021 0,00 12/2021 0,00
01/2022 0,00 02/2022 0,00 03/2022 0,00 04/2022 300,50
05/2022 0,00""".replace('\n', ' ').replace('.','').replace(',','.').replace(' ','')

me = re.findall(r'([0-9]{2}/[0-9]{4})([0-9]+\.[0-9]{2})', tx)

# print(x)
# for i in mi:
#     dt, vl = i

#     print('{} é a data e {:.2f} é o valor' .format(dt, float(vl)))

In [177]:
print(mi)

[('01/2021', '47960.00'), ('02/2021', '0.00'), ('03/2021', '0.00'), ('04/2021', '0.00'), ('05/2021', '0.00'), ('06/2021', '0.00'), ('07/2021', '0.00'), ('08/2021', '0.00'), ('09/2021', '0.00'), ('10/2021', '0.00'), ('11/2021', '0.00'), ('12/2021', '0.00'), ('01/2022', '21400.00'), ('02/2022', '51400.00'), ('03/2022', '80700.00'), ('04/2022', '111100.00'), ('05/2022', '146125.00')]

In [144]:
import pandas as pd

dfMI = pd.DataFrame(mi, columns=['DT_REF', 'VL_MI'])
dfME = pd.DataFrame(me, columns=['DT_REF', 'VL_ME'])

dfMI.set_index('DT_REF', inplace=True)
dfME.set_index('DT_REF', inplace=True)

df = dfMI.join(dfME)

df = df.apply(pd.to_numeric, errors='coerce')

In [145]:
df['VL_TOTAL'] = df['VL_MI'] + df['VL_ME']
df

            VL_MI      VL_ME   VL_TOTAL
DT_REF
01/2021   47960.0     300.47   48260.47
02/2021       0.0     100.00     100.00
03/2021       0.0       0.00       0.00
04/2021       0.0       0.00       0.00
05/2021       0.0       0.00       0.00
06/2021       0.0       0.00       0.00
07/2021       0.0       0.00       0.00
08/2021       0.0       0.00       0.00
09/2021       0.0  100000.98  100000.98
10/2021       0.0       0.00       0.00
11/2021       0.0       0.00       0.00
12/2021       0.0       0.00       0.00
01/2022   21400.0       0.00   21400.00
02/2022   51400.0       0.00   51400.00
03/2022   80700.0       0.00   80700.00
04/2022  111100.0     300.50  111400.50
05/2022  146125.0       0.00  146125.00

In [151]:
#Configurar Data no formato americano

import datetime as dt

data = dt.datetime.today().date()

print(data)

2022-07-24

In [167]:
txData = '01/2022'          # >>> 2022-01-01

data = dt.datetime.strptime('01/' + txData, "%d/%m/%Y").date()
print(data)

2022-01-01